
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    // As a user, I want to be able to create a document in the firebaseCollections collection
    // As a user, I want to be able to read a document in the firebaseCollections collection that I have created
    // As a user, I want to be able to update a document in the firebaseCollections collection that I have created
    // As a user, I want to be able to delete a document in the firebaseCollections collection that I have created
    match /firebaseCollections/{document} {
      allow read: if isSignedIn();
      allow create: if request.auth.uid == request.resource.data.userAccountId;
      allow update, delete: if request.auth.uid == resource.data.userAccountId;
    }
  }
}
